body {
    text-align: center;
	background: url('./img/fundo.jpg') no-repeat;
	background-size: cover;
}

button {
	width: 110px;
	height: 110px;
	border-width: 5px;
	border-radius: 10px;
	border-color: #786f6f;
	font-size: 80px;
	font-weight: bold;
	cursor: grab;
	background-color: rgb(82, 10, 10);
}

p {
    font-size: 28px;
    font-weight: bold;
	cursor: default;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.c2 {
    width: 120px;
	height: 60px;
	border-width: 5px;
	border-radius: 10px;
	border-color: #b21515;
	font-size: 28px;
	font-weight: bold;
	background-color: rgb(32, 175, 32);
}

.c3 {
	font-size: 20px;
}
